@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Hello from SEDC, this is a View. It is used for the home page of our app.</p>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
@{
    int i = 1;
    while(i <= 10)
    {
    <p>@i Paragraph</p>
        i++;
    }
}