@{
    ViewData["Title"] = "Test View";
}

<div class="text-center">
    <h1 class="display-4">This is our test view</h1>
    <p>It's gonna be fun.</p>
</div>
@{
    int i = 1;
    while(i <= 3)
    {
    <p>Bye</p>
        i++;
    }
}