@using SEDC.PizzaApp.Models.Enums
@model OrderViewModel

<h2>Create order</h2>

<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateOrderPost" method="post">
            <div class="form-group">
                <label asp-for="PizzaName" class="control-label"></label>
                <input asp-for="PizzaName" class="form-control"/>
            </div>
             <div class="form-group">
                <label asp-for="Delivered" class="control-label"></label>
                <input asp-for="Delivered" type="checkbox" />
            </div>
             <div class="form-group">
                <label asp-for="PaymentMethod" class="control-label"></label>
                 @*creates select list with options where value is the value of the members and text is the name of the member of the enum*@
               <select class="form-control" asp-for="PaymentMethod" asp-items="Html.GetEnumSelectList<PaymentMethod>()"></select>
            </div>
            <div class="form-group">
                <label asp-for="UserId" class="control-label"></label>
                 @*creates select list with options where value is Id and text is Fullname from the list of UserDDViewModel*@
               <select class="form-control" asp-for="UserId" asp-items="@(new SelectList(ViewBag.Users, "Id", "UserFullname"))"></select>
            </div>
            <button type="submit" class="btn btn-default">Save</button>
        </form>
    </div>
</div>