@using SEDC.PizzaApp.Models.ViewModels
@model List<OrderViewModel>

@{
    ViewData["Title"] = "List of orders";
}

<partial name="~/Views/Shared/Partials/_OrderGreetingPartial.cshtml" />

<h2>List of orders:</h2>

<ol>
    @foreach (OrderViewModel viewModel in @Model)
    {
        <li>Pizza name: @viewModel.PizzaName - @viewModel.Price User: @viewModel.UserFullName</li>

        // details
        <a asp-action="Details" asp-route-id="@viewModel.Id">See Details</a>

        // delete

        // edit
    }
</ol>