@model UserViewModel

<div class="container">
    <div class="row">
        <div class="col-3">
            <p>Full name</p>
        </div>
        <div class="col-9">
            <p>@Model.FullName</p>
        </div>
    </div>
    <div class="row">
        <div class="col-3">
            <p>Phone</p>
        </div>
        <div class="col-9">
            @Model.Phone
        </div>
    </div>
</div>