@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model OrderDetailsViewModel

<h5>The user @Model.UserFullname ordered @Model.PizzaName</h5>
<p>The price of the order is @Model.Price</p>