@*The content of this view will be replaced anywhere it is referenced by a partial tag*@
@*From there we need to send a model, that is an object of type OrderDetailsViewModel*@

@model OrderDetailsViewModel

<h5>The user @Model.UserFullname ordered @Model.PizzaName</h5>
<p>The price of the order is @Model.Price</p>
