
@model Pizza

@*the content of _PizzaGreeting.cshtml will be replaced here*@
<partial name="~/Views/Shared/Partials/_PizzaGreeting.cshtml"/>

<h2>Details for @Model.Name</h2>
<p>Price: @Model.Price</p>