html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.card {
    flex-basis: 25%;
}